<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>



<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Access App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li> <a routerLink="/home" routerLinkActive><span class="glyphicon glyphicon-home"></span> Home</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <a routerLink="/access" routerLinkActive><span class="glyphicon glyphicon-user"></span> Access</a> </li>

        <li> <a routerLink="/login" *ngIf="!authService.loggedIn()" routerLinkActive><span class="glyphicon glyphicon-log-in"></span>Login</a> </li>

        <li> <a routerLink="/register"  *ngIf="!authService.loggedIn()" routerLinkActive><span class="glyphicon glyphicon-user"></span>Register</a> </li>


        <li> <a routerLink="/logout" (click)="authService.loggedOut()" *ngIf="authService.loggedIn()" routerLinkActive>LogOut</a> </li>
    </ul>
    </div>
  </div>
</nav>
</body>




<div class="container">
<router-outlet></router-outlet>
</div>
